body {
  margin: 20px;
}
image {
  size: 50%;
}

header {
  display: flex;
  flex-direction: row;
  background-color: rgb(168, 135, 199);
  text-align: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  color: brown;
}

ul a:hover {
  color: blue;
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  background-color: black;
  color: white;
}

h2 {
  color: white;
}
